---
import one from "/public/images/one.webp";
import two from "/public/images/two.webp";
import three from "/public/images/three.webp";
import four from "/public/images/four.webp";
import { Image } from "@astrojs/image/components";
---

<main role="main" class="w-full lg:col-span-3">
  <section>
    <div class="p-8 lg:py-12 lg:px-10">
      <div
        class="text-base dark:text-zinc-500 text-zinc-500 lg:col-span-3 space-y-12"
      >
        <article class="md:grid md:grid-cols-4">
          <div class="md:col-span-3">
            <header class="flex flex-col">
              <h1
                class="mt-6 text-4xl font-bold tracking-tight text-black dark:text-white sm:text-5xl"
              >
                Dawn unto dusk, dusk unto dawn.
              </h1>
              <time
                datetime="2022-09-05"
                class="order-first flex items-center text-base text-zinc-500 dark:text-zinc-400"
              >
                <span>May 19, 2023</span>
              </time>
            </header>
            <div class="mt-8 prose dark:prose-invert prose-zinc">
              <h2>Executive Summary</h2>
              <p>
                Intrepid Shape is a full stack developer and entrepreneur who is
                developing an app called Be Log, which is designed to help
                people make the most of their days and never waste a moment. Be
                Log is a powerful tool that uses analytics, user feedback, and
                competitive research to provide users with an intuitive,
                user-friendly experience. Be Log will provide users with
                detailed insights into their lives, help them recognize and stop
                repeating mistakes, and provide them with the metrics to make
                more informed decisions.
              </p>
              <h2>Problem</h2>
              <p>
                Many people find themselves feeling overwhelmed by their lives,
                unable to keep track of their tasks and goals, and unable to
                recognize and stop repeating their mistakes.
              </p>
              <h2>Solution</h2>
              <p>
                Be Log provides an easy-to-use platform that helps people stay
                organized and make the most of their days. Be Log’s intuitive
                user interface, analytics, user feedback, and competitive
                research, helps users track and log their lives, identify and
                stop repeating mistakes, and make more informed decisions.
              </p>
              <h2>Market</h2>
              <p>
                Be Log’s target market consists of people ages 18-35 who are
                looking for a tool to help them make the most of their days and
                never waste a moment. This includes people from all walks of
                life, from busy students to overworked professionals.
              </p>
              <h2>Competition</h2>
              <p>
                Be Log has no direct competitors, but there are several products
                on the market that offer similar features, such as task-tracking
                and goal-setting apps.
              </p>
              <h2>Revenue Model</h2>
              <p>
                Be Log will use a freemium revenue model, with a basic version
                of the app being free and a premium version available for a
                monthly subscription fee. Users can can upgrade to the premium
                version at any time. The premium version includes additional
                features, such as AI powered suggestions, more activites to do
                within the app, and more analytics.
              </p>
              <h2>Team</h2>
              <p>
                I am the sole founder and developer of Be Log. I am a full stack
                developer and entrepreneur with a passion for creating
                meaningful work and helping people reach their goals.
              </p>
              <h2>Business Plan</h2>
              <p>
                Be Log will be developed in stages. The first stage will focus
                on creating the basic version of the app, including the user
                interface, analytics, user feedback, and competitive research.
                The second stage will focus on creating the premium version of
                the app, with additional features and a monthly subscription
                fee. The third stage will focus on marketing, including search
                engine optimization, social media campaigns, and paid
                advertising.
              </p>

              <h2>Conclusion</h2>
              <p>
                Be Log is an innovative app that is designed to help people make
                the most of their days and never waste a moment. Be Log’s
                intuitive user interface, analytics, user feedback, and
                competitive research, will help users track and log their lives,
                recognize and stop repeating mistakes, and make more informed
                decisions. Be Log has no direct competitors and will use a
                freemium revenue model to generate revenue. Be Log will be
                developed in stages, with a focus on creating the basic version
                of the app, creating the premium version of the app, and
                marketing.
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
</main>
