<main role="main" class="w-full lg:col-span-3">
  <section>
    <div class="p-8 lg:py-12 lg:px-10">
      <div>
        <h1
          class="text-black dark:text-white text-2xl md:text-4xl xl:text-8xl font-bold tracking-tighter"
        >
          About
          <span class="lg:block">me</span>
        </h1>
      </div>
      <div
        class="mt-8 lg:mt-24 text-base dark:text-zinc-500 text-zinc-500 lg:col-span-3 space-y-12"
      >
        <article class="md:grid md:grid-cols-4">
          <div class="md:col-span-3">
            <div class="text-m text-zinc-600 dark:text-zinc-100 space-y-6">
              <p>
                Hi, I'm Intrepid Shape! I'm a full stack developer and
                entrepreneur who is currently working on an app that I'm excited
                to share with the world. I'm currently looking for alpha testers
                who can help me find the perfect product/market fit.
              </p>
              <p>
                I'm passionate about creating meaningful work and helping people
                reach their goals. I'm motivated by the idea of using technology
                to make life easier and more enjoyable.
              </p>
              <p>
                I'm also a big fan of keeping a healthy balance in life. I'm
                grateful for the people around me and the opportunities I'm
                given. I'm also grateful for the tools available to me that make
                development easier. I'm a big believer in scheduling and time
                management, and I try to take time for myself to relax and enjoy
                life.
              </p>
              <p>
                I'm always striving to improve, both in my personal life and my
                work. I try to learn from my mistakes and use that knowledge to
                create better products. I'm also always looking for ways to
                increase my productivity and stay focused on my goals.
              </p>
              <p>
                Overall, I'm passionate about creating meaningful work and
                helping people reach their goals. I'm an enthusiastic learner
                and I'm always looking for ways to improve. I'm excited to see
                where this journey takes me and I'm looking forward to connecting 
                with alpha testers who share these same values.
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
</main>
