---
import BaseLayout from "../layouts/BaseLayout.astro";
import Sidebar from "../components/landing/Sidebar.astro";
import AboutContent from "../components/about/AboutContent.astro";
import { AstroSeo } from "@astrolib/seo";
---

<!---
Use AstroSeo in all the pages you want different Seo than the index page
-->
<AstroSeo
  title="Intrepid Shape"
  description="Hi, I'm Intrepid Shape! I'm a full stack developer and entrepreneur who is currently working on an app that I'm excited to share with the world. I'm currently looking for alpha testers who can help me find the perfect product/market fit."
  canonical="https://www.intrepidshape.com"
  openGraph={{
    url: "https://www.intrepidshape.com",
    title: "Intrepid Shape",
    description: "Hi, I'm Intrepid Shape! I'm a full stack developer and entrepreneur who is currently working on an app that I'm excited to share with the world. I'm currently looking for alpha testers who can help me find the perfect product/market fit.",
    images: [
      {
        url: "https://www.intrepidshape.com/opengraph/intrepid-shape.jpg",
        width: 1200,
        height: 630,
        alt: "Intrepid Shape",
        type: "image/jpeg",
      },
      {
        url: "https://www.intrepidshape.com/opengraph/alpha-tester.jpg",
        width: 4096,
        height: 4096,
        alt: "Intrepid Shape",
        type: "image/jpeg",
      },
      { url: "https://www.intrepidshape.com/opengraph/intrepid-shape.jpg" },
      { url: "https://www.intrepidshape.com/opengraph/alpha-tester.jpg" },
    ],
    site_name: "Intrepid Shape",
  }}
  twitter={{
    handle: "@IntrepidShape",
    site: "@IntrepidShape",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>
  <div class="2xl:max-w-7xl mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-4">
      <Sidebar />
      <AboutContent />
    </div>
  </div>
</BaseLayout>
